@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome!</h1>
Hello, my name is Rich and this is my resume site. <p></p> 
I am using to demonstraite my web development and related skills.


<SurveyPrompt Title="How is Blazor working for you?" />
